@model Pertrecho
@{
    ViewData["Title"] = "Sistema de Registro Arma";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Pertrecho" asp-action="PertrechoCreate" method="post" enctype="multipart/form-data">

    <h5 class="text-muted mb-3">Asignar Pertrechos</h5>

    <div class="mb-3">
        <label class="form-label" for="PertrechosDescripcion">Descripcion:</label>
        <input class="form-control" type="text" id="PertrechosDescripcion" name="PertrechosDescripcion" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="Cantidad">Cantidad:</label>
        <input class="form-control" type="text" id="Cantidad" name="Cantidad" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="IdAlmacen">Almacen:</label>
        <select class="form-select" id="IdAlmacen" name="IdAlmacen">
            <option value="0">Selecciona Almacen</option>
        </select>
        <input type="hidden" name="Almacen" />
    </div>
       
    <!-- Repeat the above pattern for the remaining fields -->

        <input class="btn btn-primary" type="submit" value="Crear" />

</form>


