@model Arma
@{
    ViewData["Title"] = "Sistema de Registro Arma";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Arma" asp-action="ArmaCreate" method="post" enctype="multipart/form-data">

    <h5 class="text-muted mb-3">Registar Arma</h5>

    <div class="mb-3">
        <label class="form-label" for="IdTipoArma">Tipo del Arma:</label>
        <select class="form-select" id="IdTipoArma" name="IdTipoArma">
            <option value="0">Selecciona Tipo</option>
        </select>
        <input type="hidden"  name="TipoArma"  />
    </div>
    <div class="mb-3">
        <label class="form-label" for="IdArmaMarca">Marca del Arma:</label>
        <select class="form-select" id="IdArmaMarca" name="idArmaMarca">
            <option value="0">Selecciona Marca</option>
        </select>
        <input type="hidden" name="ArmaMarca" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="ArmaCalibre">Calibre del Arma:</label>
        <input class="form-control" type="text" id="ArmaCalibre" name="ArmaCalibre" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="ArmaSerie">Serie del Arma:</label>
        <input class="form-control" type="text" id="ArmaSerie" name="ArmaSerie" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="IdAlmacen">Almacén:</label>
        <select class="form-select" id="IdAlmacen" name="IdAlmacen">
            <option value="0">Selecciona Almacén</option>
        </select>
        <input type="hidden" name="Almacen" />
    </div>

    
    <!-- Repeat the above pattern for the remaining fields -->
    <div id="btnCrear"><input class="btn btn-primary" type="submit" value="Crear" />
</div>
        
</form>


