@model Arma
@{
    ViewData["Title"] = "Sistema de Registro Arma";
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Arma" asp-action="ArmaCreate" method="post" enctype="multipart/form-data">

    <select id="ddlFruits" name="FruitId" >
            <option value="0">Please select</option>
        </select>
        <input type="hidden" name="FruitName"/>
    <div>
        <label for="IdTipoArma">TipoArma:</label>
        <select id="IdTipoArma" name="IdTipoArma" >
            <option value="0">Selecciona Tipo</option>
        </select>
        <input type="hidden"  name="TipoArma"  />
    </div>
    <div>
        <label for="IdArmaMarca">ArmaMarca:</label>
        <select id="IdArmaMarca" name="idArmaMarca" >
            <option value="0">Selecciona Marca</option>
        </select>
        <input type="hidden" name="ArmaMarca" />
    </div>
    <div>
        <label for="ArmaCalibre">ArmaCalibre:</label>
        <input type="text" id="ArmaCalibre" name="ArmaCalibre" />
    </div>
    <div>
        <label for="ArmaSerie">ArmaSerie:</label>
        <input type="text" id="ArmaSerie" name="ArmaSerie"  />
    </div>
    <div>
        <label for="IdAlmacen">Almacen:</label>
        <select id="IdAlmacen" name="IdAlmacen" >
            <option value="0">Selecciona Almacen</option>
        </select>
        <input type="hidden" name="Almacen" />
    </div>
    <div>
        <label for="ArmaEstado">ArmaEstado:</label>
        <select id="ArmaEstado" name="IdArmaEstado" >
            <option value="0">Selecciona Estado</option>
        </select>
        <input type="hidden" name="ArmaEstado" />
    </div>

    
    <!-- Repeat the above pattern for the remaining fields -->
    <div id="btnCrear"><input class="btn btn-primary btn-lg " type="submit" value="Crear" />
</div>
        
</form>


