@{
    ViewData["Title"] = "Sistema Belico";
}

    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}
<div class="text-center">
    <button class="buttonMainMenu" onclick="location.href='@Url.Action("ArmaCreate","Arma")'">Registrar Arma</button>
    <button class="buttonMainMenu" onclick="location.href='@Url.Action("ArmaReport","Arma")'">Reporte</button>
    <button class="buttonMainManteinece">Actualizar</button>


</div>
