@{
    ViewData["Title"] = "Sistema Belico";
}

<div class="text-center">
    <button class="buttonMainMenu" onclick="location.href='@Url.Action("MenuArma","Arma")'">Armas</button>
    <button class="buttonMainMenu" onclick="location.href='@Url.Action("MenuPertrecho","Pertrecho")'">Pertrechos</button>
    <button class="buttonMainMenu" onclick="location.href='@Url.Action("MenuAsignacion","Asignacion")'">Asignaciones</button>
    <button id="Mant"class="buttonMainManteinece">Mantenimiento</button>
    <button id="Mant2"class="buttonMainManteinece">Reportes</button>
    <button id="Mant3" class="buttonMainManteinece">Configuracion</button>    
</div>
