@{
    ViewData["Title"] = "Sistema Belico";
}

<div class="text-center">
    <br />
    <br />
    <h1>Bienvenidos</h1>
    <br />
    <br />
    <h6>ARMADA DE REPÚBLICA DOMINICANA</h6>
    <h6>INTENDENCIA DEL MATERIAL BÉLICO</h6>
    <h6>Sistema de Inventario, Cargo y Descargo de Armas</h6>
    <br />
    <br />
</div>
