@{
    ViewData["Title"] = "Sistema Belico";
}

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<body class="bg-image" >

    <h1 class="text-black text-center">Bienvenidos</h1>
<div class="text-center mb-4">
    
</div>
 

</body>