@model AsignacionArma
@{
    ViewData["Title"] = "Sistema de Registro Arma ordenes";
}


<!-- Button to trigger the modal -->
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <script>
        // Call the JavaScript function to display the notification
        showNotification('@Html.Raw(ViewBag.SuccessMessage)');
    </script>

}


<body>
    <!-- The modal dialog -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchModalLabel">Ingrese Numero de Orden</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                      <div class="row">
                       <div class="col-md-auto">                         
                              <input type="text" id="searchInput" name="nombre" class="form-control" placeholder="Ingrese Numero de Orden" />
                        </div>
                    
                       <div class="col-md-auto">
                            <button type="button" id="btnBuscar" name="btnBuscar" class="btn btn-primary">Buscar</button>
                       </div>
                         <div id="elementos">
                    </div>
                    </div>

                  

                    <div class="row table-responsive" id="areaTableMaterial">
                        <table class="table caption-top" id="tableMaterials" name="tableMaterials" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Serial</th>

                                </tr>
                            </thead>
                            <tbody id="tableBody" name="tableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" id="modalfooter">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h1>Listado de Órdenes de Material Bélico</h1>
    <div id="ordenesContainer">

        <!-- El contenido aquí será generado dinámicamente basado en la información recuperada desde el backend -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(() => {
            cargarOrdenes();
            getorderNumber();
            RebajarArmar();
            ValidarElementos();


        });
        const orderNum = $('#searchInput').val();

        function getorderNumber() {
            $('#elementos').html('<input type="text" id="nuevoInput" class="form-control" placeholder="Ingresar Numero de Serie">');
            $('#elementos').append(' <button type="button" id="btnValidar" name="btnValidar" class="btn btn-primary">Agregar</button>');
            $('#nuevoInput').css('visibility', 'hidden');
            $('#btnValidar').css('visibility', 'hidden');
            $('#btnCompletar').css('visibility', 'hidden');
            const btnSelectWeapon = $('#btnBuscar');

            btnSelectWeapon.click(() => {
                const inpCantidad = $('#searchInput').val();
                const URL = "/Asignacion/GetOrderInd";
                $.get(URL, { inpCantidad }, (resp) => {
                    console.log(resp);
                    const numberModifyed = resp.orden_total;
                        if (numberModifyed > 0) {
                        $('#orderNumber').html(`Numero de Armamento a Devolver: ${numberModifyed}`);
                        $('#btnBuscar').css('visibility', 'hidden');
                        $('#nuevoInput').css('visibility', 'visible')
                        $('#btnValidar').css('visibility', 'visible')
                        $('#btnCompletar').css('visibility', 'visible');
                    }

                })

            });

            $('#modalfooter').append(' <button type="button" id="btnCompletar" name="btnCompletar" class="btn btn-primary">Completar</button>');

        }
        let elementosA = []
        function RebajarArmar() {

            const btnvalidar = $('#btnValidar');

            const table = $('#tableBody');
                    btnvalidar.click((e) => {
                table.empty();
                console.log(e)
                let devolver = $('#orderNumber').val();
                const orderNum = $('#searchInput').val();
                let Nserie = $('#nuevoInput').val();
                elementosA.push(Nserie);
                if (!elementosA.includes(Nserie)) {
                    elementosA.push(Nserie);
                }
                elementosA.forEach((elemento, index) => {
                      const URL = `/Asignacion/GetOrderDExiste/?serie=${elemento}&orderId=${orderNum}`;
                        $.get(URL, (resp) => {
                            const colorBg = resp ? '#22bb33' : '#bb2124';
                               table.append(`<tr><td style='background-color:${colorBg};color:#fff'>${index + 1}</td><td style='background-color:${colorBg};color:#fff'>${elemento}</td></tr>`);
                        });
                });

                $('#areaTableMaterial').css('visibility', 'visible');

                console.log(elementosA)
                let i = 0;


            });
        }
        function ValidarElementos() {
            const table = $('#tableBody');
            let devolver = $('#orderNumber').val();
            // const orderNum = $('#searchInput').val();
            const btnCompletar = $('#btnCompletar');

            btnCompletar.click
                ((e) => {
                    const orderNum = $('#searchInput').val();
                    console.log(e)
                    console.log(orderNum)

                    elementosA.forEach((elemento, index) => {
                      
                    })
                })


        }
        // Función para cargar las órdenes desde el backend
        function cargarOrdenes() {
            // Suponiendo que tienes una API en tu backend que te devuelve la lista de órdenes
            fetch('/Asignacion/GetOrdenes')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const ordenesContainer = document.getElementById('ordenesContainer');
                    ordenesContainer.innerHTML = ''; // Limpiar el contenido actual
                    data.forEach(orden => {
                        // Crear y añadir el elemento de la orden al contenedor
                        const ordenElement = document.createElement('div');
                        ordenElement.innerHTML = `
                                            <h3>Orden ID: ${orden.orden_id}</h3>
                                            <p>Descripción: ${orden.motivo}</p>
                                            <p>Estado: ${orden.orden_status}</p>
                                            <p>Catidad Solicitada: ${orden.orden_total}</p>
                                            <p>Fecha de Solicitud: ${orden.orden_fecha}</p>
                                                     ${orden.orden_status ? ' <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">Cerrar Orden</button>' : '<button>Consultar Orden </button>'}
                                        `;
                        ordenesContainer.appendChild(ordenElement);
                    });
                })
                .catch(error => console.error('Error al cargar las órdenes:', error));
        }

        // Llamar a cargarOrdenes() cuando la página se cargue
        window.onload = function () {
            cargarOrdenes();
        };
    </script>
</body>






